*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
**/__pycache__/
.env
wth-actors-name
notebooks/crop.jpg
notebooks/exploring image preprocessing.ipynb
notebooks/image preprocessing to dictionary for multiple actors.ipynb

cnn_final_model_3
